<div class="card text-white bg-success bg-opacity-50 m-3" style="min-width: 20rem;">
    <div class="card-header bg-success fs-3 text-center">P1245</div>
    <div class="card-body">
        <h5 class="card-title text-dark text-center">ECG : <a routerLink="/platform/ecg/:id" class="link-success text-decoration-none">EC1425</a></h5>
        <ul class="card-text list-group list-unstyled">
            <li class="list-group-item-success p-2"><span class="text-dark">Nom :</span> Bar</li>
            <li class="list-group-item-success p-2"><span class="text-dark">Prenom :</span> Papa Bouna Bamba</li>
            <li class="list-group-item-success p-2"><span class="text-dark">Nationality :</span> Senegalaise</li>
            <li class="list-group-item-success p-2"><span class="text-dark">NIN :</span> 2002297832</li>
            <li class="list-group-item-success p-2"><span class="text-dark">Birthday :</span> 29/03/2002</li>
            <li class="list-group-item-success p-2"><span class="text-dark">Sex :</span> Homme</li>
        </ul>
        <div class="text-end pt-3 fs-3">
            <a routerLink="/platform/patient/edit/:id" class="link-dark"><i class="fa-solid fa-pen-to-square"></i></a>
        </div>
    </div>
</div>
