<app-nav-bar></app-nav-bar>
<div class="container">
    <h2 style="color: #333333">Stats</h2>
    <hr>
    <div class="stats">
        <div class="container justify-content-center" style="flex-wrap: wrap">
            <div class="card">
                <div class="face face1">
                    <div class="content">
                        <img src="../../assets/image/—Pngtree—vector%20heart%20beat%20icon_4183850.png" alt="">
                        <h3>ECG</h3>
                    </div>
                </div>
                <div class="face face2">
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident at.</p>
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="face face1">
                    <div class="content">
                        <img src="../../assets/image/kisspng-illustration-vector-graphics-clip-art-image-micros-how-do-i-do-keyword-research-realtor-seo-guide-5c8c95511c23e6.8748827815527171371153.png" alt="">
                        <h3>Dataset</h3>
                    </div>
                </div>
                <div class="face face2">
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident at.</p>
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="face face1">
                    <div class="content">
                        <img src="../../assets/image/kisspng-patient-portal-hospital-health-care-physician-patient-5abee0bb4ce047.6685170915224588113149.png" alt="">
                        <h3>Patient</h3>
                    </div>
                </div>
                <div class="face face2">
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident at.</p>
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="face face1">
                    <div class="content">
                        <img src="../../assets/image/387561.png" alt="">
                        <h3>Personnel</h3>
                    </div>
                </div>
                <div class="face face2">
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident at.</p>
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /flip-card-container -->
    <h2 class="">Activity</h2>
    <hr>
    <div class="container activity mb-4 p-5 pt-0">
        <div class="list-group">
            <app-activity></app-activity>
            <app-activity></app-activity>
            <app-activity></app-activity>
        </div>
    </div>
</div>
