<app-nav-bar></app-nav-bar>
<div class="container">
    <div class="container d-flex align-items-center justify-content-between  bg-success px-4">
        <h2 class="bg-success text-light">{{patient.firstname+' '+patient.lastname}}</h2>
        <app-filter></app-filter>
    </div>
    <div class="container mt-3">
        <div class="container" *ngFor="let ecg of ecgs">
            <app-ecg-view *ngIf="patient.id === ecg.patient.id"
                         [ecg]="ecg"
            ></app-ecg-view>
        </div>
    </div>
    <app-back-link [link] = "link" ></app-back-link>
</div>
