<div class="card mb-3">
    <img src="../../assets/image/SM-placeholder-1024x512.png" class="card-img-top" alt="...img">
    <div class="card-body col-4">
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>
    </div>
</div>
